# Xcode
DerivedData/
build/
*.xcuserdata
*.xcuserstate
*.moved-aside
*.xccheckout
*.xcscmblueprint

# SwiftPM
.build/
Package.resolved

# CocoaPods
Pods/

# Xcode user-specific files
*.xcuserdata/


# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# macOS
.DS_Store

# Secrets
*.env
