<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>EpicPlay</string>
	<key>CFBundleDisplayName</key>
	<string>EpicPlay</string>
	<key>CFBundleShortVersionString</key>
	<string>1.12</string>
	<key>CFBundleVersion</key>
	<string>12</string>
	<key>CFBundleExecutable</key>
	<string>EpicPlay</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Esta app necesita acceso a tu galería para mostrar y guardar videos.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Permite que la app guarde videos en tu galería.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
